body{
    background-color:rgba(147, 104, 113, 0.46) ;
    font-family: Arial, Helvetica, sans-serif;
}
.info{
    background-color: beige;
    border: 100px,solid black;
}
.job-title{
    color: #999999;
    font-weight: bold;
}
a:link, a:visited {
    color: #fb6542;
  }